@model TiendaEnLinea.Models.Item

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producer.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producer.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductoID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
